$fontSize: 14px;

$sidebarBackgroundColor: #ffffff;

$headerBackgroundColor: #f5f5f5;

$layoutBackgroundColor: #f5f5f5;

$toolTitleFontSize: 18px;
$toolTitleFontWeight: 600;
$toolDescriptionFontSize: 14px;
$toolDescriptionFontWeight: 400;

.mgt-10 {
    margin-top: 10px;
}

.mgb-20 {
    margin-bottom: 20px;
}

.mgr-20 {
    margin-right: 20px;
}

.mgl-20 {
    margin-left: 20px;
}

.mgt-20 {
    margin-top: 20px;
}
