$fontSize: 14px;

$toolTitleFontSize: 18px;
$toolTitleFontWeight: 600;
$toolDescriptionFontSize: 14px;
$toolDescriptionFontWeight: 400;

.mgb-20 {
    margin-bottom: 20px;
}

.mgr-20 {
    margin-right: 20px;
}